body{
    background-color: rgb(173, 241, 250);
}
.pagination{
    border:2px dashed;
}
 li{
    float: left;
    list-style-type: none;

}
a{
    color:rgb(213, 78, 0);
    text-decoration:dashed;
}
